* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* Ensures padding and borders are included in the element's dimensions */
}


  html,body {
    scroll-behavior: smooth; /* Habilita el desplazamiento suave */
    overflow-x: hidden;

}
